.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  padding-left: 64px;
  z-index: 2;
}

.logo__img {
  width: 183px;
  height: 32px;
}

.header__title {
  margin: 0;
  padding-left: 64px;
  width: 730px;
  color: black;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  padding-left: 64px;
  bottom: 30px;
  color: black;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; 
}

.header__main-illustration_img {
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  right: 0;
  height: 568px;
  width: 568px;
  box-sizing: border-box;
  padding-top: 64px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-height: min-content;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__brief_link {
  color: #2f80ed;
  text-decoration: none;
}

.two-columns__main-text {
  width: 80%; 
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  color: black;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: black;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: black;
}

.table {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  margin: 0;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-right: 0;
  margin-top: 60px;
  color: black;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  padding-bottom: 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: black;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  width: 60%;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  z-index: 2;
}

.table_theme_dark {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.caufman__triange {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
}

.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;

}

.logo__img {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  margin: 0;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  margin: 0;
  padding: 0 0 16px 0;
  list-style-type: none;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
  text-decoration: none;
}